body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* Header */
header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}

header a {
    color: #60a5fa;
    text-decoration: none;
}

/* Sections */
section {
    padding: 40px;
}

/* About */
.about {
    background-color: white;
}

/* Projects */
.projects {
    background-color: #e5e7eb;
}

/* Grid */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Cards */
.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Images */
.project-card img {
    width: 100%;
    border-radius: 10px;
}

/* Expandable */
details {
    margin-top: 10px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}
.project-card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}